.card-context {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  padding: 20px 40px;
  margin: 0 auto;
  border: none;
  border-radius: 12px;
  background-color: hsl(214, 100%, 100%);
  box-shadow: 0px 1px 1px hsl(0deg 0% 0% / 0.02),
    0 2px 2px hsl(0deg 0% 0% / 0.02), 0 4px 4px hsl(0deg 0% 0% / 0.02),
    0 8px 8px hsl(0deg 0% 0% / 0.02);
}

.card-context picture {
  width: 100%;
  height: 100%;
  min-width: 200px;
  max-width: 200px;
  padding: 0 40px;
}

.card-context picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-context div h2 {
  font-size: 1.75rem;
  text-align: left;
  margin-bottom: 10px;
}

.card-context div p {
  width: 100%;
  text-align: left;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .card-context {
    flex-direction: column;
  }
}
