.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  width: fit-content;
  max-width: 450px;
  padding: 20px 40px;
  margin: 0 20px;
  border: none;
  border-radius: 6px;
  background-color: hsl(214, 100%, 97%);
  box-shadow: 0px 1px 1px hsl(0deg 0% 0% / 0.085),
    0 2px 2px hsl(0deg 0% 0% / 0.085), 0 4px 4px hsl(0deg 0% 0% / 0.085),
    0 8px 8px hsl(0deg 0% 0% / 0.085);
}

.card-title {
  font-size: 2rem;
  color: black;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
}

.card-title span {
  text-transform: lowercase;
}

.card picture {
  margin: 0 auto;
  display: block;
  max-width: 200px;
  height: 200px;
}

.card picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card p {
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: justify;
}

.card a {
  width: 100%;
  padding: 10px 20px;
  font-size: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  transition: background-color 200ms ease-in-out;
  color: white;
  background-color: oklch(54.6% 0.245 262.881);
}

.card a span {
  text-transform: lowercase;
}

.card a:hover {
  background-color: oklch(48.8% 0.243 264.376);
}

.card a:focus {
  background-color: oklch(48.8% 0.243 264.376);
}
