.carousel-container {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100%;
  max-height: 600px;
}

.carousel-slide {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  transition: all 700ms ease-in-out;
  transition-delay: 500ms;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  max-height: 600px;
  object-fit: contain;
}

.carousel-slide-active {
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 70px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 50%;
  color: white;
  padding: 20px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  z-index: 10;
  transition: all 200ms ease-in-out;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}

.carousel-button-left {
  left: 10px;
}

.carousel-button-right {
  right: 10px;
}

.carousel-index-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}

.carousel-index {
  padding: 8px 12px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
}

.carousel-index:hover:not(.carousel-index-active) {
  background-color: rgba(255, 255, 255, 0.4);
}

.carousel-index-active {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  transform: scale(1.2);
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}
