.carousel-container {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  max-height: 400px;
  background-color: oklch(97% 0.014 254.604);
  padding: 20px;
}

.carousel-quote {
  flex: 1 2 500px;
  width: 100%;
  height: 100%;
}

.carousel-quote blockquote {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.carousel-quote picture {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 10px;
}

.carousel-quote picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel {
  flex: 1 1 700px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  position: relative;
  display: flex;
  overflow: hidden;
}

.carousel-slide {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  transition: all 700ms ease-in-out;
  transition-delay: 500ms;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: contain;
}

.carousel-slide-active {
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 20px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  z-index: 10;
  transition: all 200ms ease-in-out;
}

.carousel-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}

.carousel-button-left {
  left: 20px;
}

.carousel-button-right {
  right: 20px;
}

.carousel-index-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}

.carousel-index {
  padding: 8px 12px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
}

.carousel-index:hover:not(.carousel-index-active) {
  background-color: rgba(255, 255, 255, 0.4);
}

.carousel-index-active {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  transform: scale(1.2);
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

@media (max-width: 768px) {
  .carousel-container {
    flex-direction: column;
    max-height: fit-content;
  }

  .carousel-quote {
    flex: 1 1 auto;
  }

  .carousel {
    flex: 1 1 auto;
  }
}

@media (max-width: 480px) {
  .carousel-container {
    height: 100%;
  }

  .carousel-button {
    width: 30px;
    height: 30px;
    padding: 5px;
    top: 100;
    bottom: 100;
    font-size: 10px;
  }

  .carousel-button-left {
    left: 10px;
  }

  .carousel-button-right {
    right: 10px;
  }

  .carousel-index-container {
    padding: 5px 10px;
    border-radius: 4px;
  }

  .carousel-index {
    padding: 4px 6px;
    border-radius: 2px;
  }

  .carousel-quote blockquote {
    font-size: 1.25rem;
  }
}
